<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goals</title>
</head>
<body>
    Career Goals:  
    <div>
    <ul>
         <li>To become a legal laureate by leveraging technology to uncover undeniable facts and data</li>
         <li>To pioneer the use of technology in legal research</li>
         <li>To ensure that technology is used ethically in the legal field</li>
         <li>To pioneer data analytics as a new legal specialization</li>
</body>
</html>